.fsd-slider {
  position: relative;
  width: 80%;
  height: 10px;

  &_vertical {
    height: 80%;
    width: 10px;
  }


  &__bar,
  &__handle,
  &__popover,
  &__stroke,
  &__scale-number {
    position: absolute;
  }

  &__handle,
  &__popover,
  &__stroke,
  &__scale-number {
    z-index: 2;
  }

  &__line {
    width: 100%;
    height: 6px;
    background: #FFFFFF;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;

    &_vertical {
      width: 6px;
      height: 100%;
    }
  }

  &__bar {
    z-index: 1;
    height: 6px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border-radius: 3px;
    cursor: pointer;

    &_vertical {
      width: 6px;
    }
  }

  &__handle {
    width: 12px;
    height: 12px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    top: -5px;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
    
    

    &_vertical {
      top: 50%;
      left: -5px;
      transform: translateY(-50%);
    }
  }

  &__popover {
    display: inline-block;
    white-space: nowrap;
    padding: 2px 5px;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);

    &_hidden {
      visibility: hidden;
    }

    &_vertical {
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
  }

  &__scale {
    position: absolute;
    top: 6px;
    width: 100%;
    height: 20px;
    cursor: pointer;

    &_vertical {
      height: 100%;
      width: 20px;
      left: -20px;
      top: 0;
    }
  }

  &__stroke {
    top: 2px;
    width: 1px;
    height: 8px;
    background: #6FCF97;
    transform: translateX(-50%);

    &_vertical {
      left: 14px;
      height: 1px;
      width: 8px;
    }

    &_small {
      height: 4px;
    }

    &_small-vertical {
      left: 16px;
      height: 1px;
      width: 4px;
    }
  }

  &__scale-number {
    top: 10px;
    transform: translateX(-50%);
    color: #6FCF97;
    font-size: 10px;

    &_vertical {
      right: 12px;
      transform: translateY(-50%);
      text-align: right;
    }
  }

}