html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')
    meta(name='keywords' content='demo')
    meta(name='description' content='demo')
    title Demo page
    link(rel='stylesheet' href='./demo.scss')
    script(src='./jquery-for-parcel.js')
    script(src='./demo.js')
  body
    .container
      .fsd-slider
        .fsd-slider__bar
        .fsd-slider__handle
        .fsd-slider__line
      br
      .test-slider
      br
      .fsd-slider
      br
      #test-slider

